**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/**/bin
**/**/obj
**/**/out
**/node_modules
**/wwwroot/dist
**/.idea
**/TestResults
**/*.trx
**/*.db
**/*.db-shm
**/*.db-wal
.DS_Store
Thumbs.db
